body {
  font-family: helvetica;
  background: orangered; /* For browsers that do not support gradients */
background: -webkit-linear-gradient(left top, orangered, orange); /* For Safari 5.1 to 6.0 */
background: -o-linear-gradient(bottom right, orangered, orange); /* For Opera 11.1 to 12.0 */
background: -moz-linear-gradient(bottom right, orangered, orange); /* For Firefox 3.6 to 15 */
background: linear-gradient(to bottom right, orangered, orange); /* Standard syntax */

}


html {


}

header {
  margin: 0px 50px 20px 50px;
  border-radius: 10px;
  color: white !important;
}

.form-container {
  font-size: 12px;
  background-color: rgba(245, 245, 245, 0.5);
  padding: 10px;
  margin: 0px auto 0px auto;
  border-radius: 10px;
  width: 90%;
  height: auto;
  text-align: center;

}

.table-container {
  font-size: 12px;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 10px;
  margin: 20px auto 20px auto;
  border-radius: 10px;
  width: 90%;
  height: auto;
  text-align: center;

}

#center-container {
  text-align: center;
}

.taskField {
  margin-right: 40px;
}

h1 {
  text-align: center;
  font-weight: 700;
  font-size: 50px;
}

sup {
  font-size: 10px;
  vertical-align: super;
}

#center-table{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

#task-table-container {
  margin-top: 20px;
  margin-left: 3%;
  text-align: center;
}

.form-container th {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 0px;
  font-size: 16px;
  color: orangered;
}

.form-container td {
  padding-left: 20px;
  padding-right: 20px;
  color: white;
  width: 100px;
}

th {
  padding: 8px;
  font-size: 16px;
  color: orangered;
  text-align: left;
}

td {
  padding: 10px;
  font-size: 14px;
  min-width: 90px;
  text-align: left;
}

tr {
  width: 100%;
  height: auto;
}

#taskName {
  padding-right: 10px;
}

input {
  margin: 1px;
  width: 150px;
  border: 1px solid white;
  font-size: 14px;
}

select {
  margin: 1px;
  height: 20px;
  width: 150px;
}

button {
    background-color: orangered;
    border: 1px solid orangered;
    color: white;
    padding: 4px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 2px 1px;
    transition-duration: 0.4s;
    border-radius: 3px;
}

button:hover {
    background-color: white;
    color: orangered;
}

#submit {
  padding: 4px 12px;
  font-size: 12px;
}

.false {
  color: white;
}

.true {
  color: white;
  text-decoration: line-through;
}

.footer {
  position: relative;;
  top: 100%;
  width: 100%;
  text-align: center;
  color: white;
  font-size: 12px;
}

table {
  margin: 0 auto !important;
}
